<style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color: rgb(255, 94, 0);
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
</style>

<div class="jumbotron">
    <h1>Book view</h1>
    <br>

    <div class="table-responsive">
        <table id='myTable' class="table table-dark">
            <tr>  <th>ID</th> <th>Title</th> <th>Author</th><th>Price</th><th>Stock</th></tr>
        </table>
    </div>
</div>