<div class="container mt-1">
    <div class="jumbotron">
        <h1>Books upload</h1>
        <br>
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" class="form-control" type="text" name="title" required>
        </div>

        <div class="form-group">
            <label for="author">Author</label>
            <input id="author" class="form-control" type="text" name="author" required>
        </div>

        <button id='Submit' class="btn btn-success mt-3">Send</button>
    </div>
</div>