<form method="POST" action="api/books">
    <div>
      <label for="title">Title</label>
      <input type="text" name="nombre" required>
    </div>
    <div>
      <label for="author">Author name</label>
      <input type="text" name="apellido" required>
    </div>
    <div>
      <label for="year">Post year</label>
      <input type="text" name="edad" required>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>